In [ ]:
%load_ext sql

In [ ]:
import pandas as pd

In [ ]:
acc_df = pd.read_csv('databases/accident_clean.csv')

In [ ]:
acc_df.columns

acc_df.shape

In [ ]:
# from sqlalchemy import create_engine
# engine = create_engine('sqlite:///trial.db', echo=False)  #creates the DB using slqAlchemy package, 
import sqlite3

In [ ]:
conn = sqlite3.connect('databases/car_acc.db')  #connects to DB if it exists, otherwise, it creates the file in local directory
cursor = conn.cursor()            #cursor object is used to query the DB using the cursor.execute('SQL Code') function.

In [ ]:
acc_df.to_sql('car_acc_table', con= conn)   #Convert DataFrame to sql table & adds it to the DB that the connection points to.

In [ ]:
%sql sqlite:///databases/car_acc.db

In [ ]:
%%sql table <<
SELECT  *
FROM car_acc_table
LIMIT 10

In [ ]:
with open('databases/car_acc.sql', 'w') as f:  #create a sql file
    for line in conn.iterdump():    #i.e. for each line iteration in the connected DB file
        f.write('%s\n' % line)      #the output is a file containing SQL queries to create the tables& their data.

In [ ]:
conn2 = sqlite3.connect(':memory:') #create an in memory DB connection
cursor2 = conn2.cursor()            #create cursor object for manipulating DB
with open('create.sql','r') as f:   #open .sql file
    cursor2.executescript(f.read()) #execute each line in the .sql

In [ ]:
%%timeit
table_dict = [x for x in cursor2.execute('SELECT * FROM car_acc_table')] #results in tuple objects in a list. The table columns are lost in the output.

In [ ]:
%%timeit
df = pd.read_sql('SELECT * FROM car_acc_table', conn2) #produces the DataFrame. Higher memory use & runtime.

In [ ]:
%%timeit
df2 = pd.DataFrame.from_dict(table_dict) #create DataFrame from the dict. the columns should be included in the argument, otherwise column labels will be 0,1,2,3...

In [1]:
import dash 
import plotly.graph_objects as go
from dash import  dcc, html
from dash.dependencies import Input, Output

In [2]:
fig = go.Figure()
    
fig.add_trace(
    go.Scatter(x = acc_df['Day_of_Week'].head(10), y = acc_df['Number_of_Vehicles'].head(10),
    mode = 'lines',
    name = 'plot'
                )

            )

NameError: name 'acc_df' is not defined

In [ ]:
df_2 = pd.read_sql('''
                    SELECT  *
                    FROM car_acc_table
                    LIMIT 10
                    ''', con = conn)

In [ ]:
df_2

In [3]:
import vaex

In [4]:
vaex_df = vaex.from_csv('databases/accident_clean.csv')

In [1]:
fig = go.Figure()
    
fig.add_trace(
    go.Scatter(x = vaex_df['Day_of_Week'].values[:100000], y = vaex_df['Number_of_Vehicles'].values[:100000],
    mode = 'markers',
    name = 'plot'
                )

            )

NameError: name 'go' is not defined